/* Navbar */
.sign-out:hover {
    border-color: #fff;
}

/* General */
.divider {
    height: 1px;
    width: 50px;
    background-color: rgba(50, 50, 50, .2);
    border-radius: 5px;
    margin: 0 auto 20px;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .navbar-brand{
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .sign-out {
        position: absolute;
        right: 10px;
        top: 8px;
        float: right;
    }
}