/* Navbar */
.sign-out:hover {
    border-color: #fff;
}

.search:hover {
    border-color: #fff;
}


/* General */
.divider {
    height: 1px;
    width: 50px;
    background-color: rgba(50, 50, 50, .2);
    border-radius: 5px;
    margin: 0 auto 20px;
}


/* Single Article Page */


/* Media Queries */
@media screen and (max-width: 992px) {
    .navbar-brand{
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .sign-out {
        position: absolute;
        right: 10px;
        top: 8px;
        float: right;
    }
}

/* Category list in Single Article Page */
@media screen and (max-width: 992px) {
    .list-unstyled {
        display: flex;
    }
    
    .list-unstyled a {
        margin-right: 20px;
    }
}